body {
    // background-color: #1a1a1a;
    font-family: "monospace";
    color: #1a1a1a;

}

input {
    background-color: #1a1a1a;
    color: white;
}


.container {

    span {
        color: green;
    }

    td {
        color: black;
    }

    .hs {
        color: whitesmoke;
    }

    .static {
        background-color: #EA9999;
    }

    .dynamic {
        background-color: #E6B8AF;
    }

    .precise {
        background-color: #A4C2F4;
    }

    .reactive {
        background-color: #A4AEF4;
    }

    .speed {
        background-color: #B4A7D5;
    }

    .evasive {
        background-color: #D5A6BD;
    }

    .Bronze {
        background-color: #E69138;
    }

    .Silver {
        background-color: #B7B7B7;
    }

    .Gold {
        background-color: #FFE599;
    }

    .Platinum {
        background-color: #C9DAF7;
    }

    .Ace {
        background-color: #E06666;
    }

    .Legend {
        background-color: #B6D7A8;
    }

    .Sentinel {
        background-color: #76A5AF;
    }

    .Valour {
        background-color: #A64D79;
    }

    .Mythic {
        background-color: #FFD700;
    }

    .Immortal {
        background-color: #C36EFF;
    }

    .Archon {
        background-color: #FF0000;
    }

    .Ethereal {
        background-color: #91D7E3;
    }

    .Divine {
        background-color: #050000;
        color: whitesmoke;
    }
}

table {
    .hs {
        color: whitesmoke;
    }

    // td {
    //   color: whitesmoke;

    // }

    // position: absolute;
    // background-color: #1a1a1a;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    td {
        border: 1px solid #333;
        padding: 8px;
    }

    .head {
        background-color: #333;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }

    .scen {
        color: blue;
    }

}

.submit-btn {
    background-color: lightgreen;
    // padding: 15px 25px;
    width: 200px;
    height: 50px;
    align-self: center;
    border: black;
    color: black;
    border-style: solid;

}
