body {
  // background-color: #1a1a1a;
  font-family: "monospace";
  color: black;

}

input {
  background-color: #1a1a1a;
  color: white;
}


.container {

  .Iron {
    background-color: #EFEFEF;
    color: #1a1a1a;

  }

  .Bronze {
    background-color: #FCE5CD;
    color: #1a1a1a;

  }

  .Silver {
    background-color: #DBE5EC;
    color: #1a1a1a;

  }

  .Gold {
    background-color: #E3DAB0;
    color: #1a1a1a;

  }

  .Platinum {
    background-color: #2fcfc2;
    color: #1a1a1a;

  }

  .Diamond {
    background-color: #b9f2ff;
    color: #1a1a1a;

  }

  .Jade {
    background-color: #85fa85;
    color: #1a1a1a;

  }

  .Master {
    background-color: #ec44ca;
    color: #1a1a1a;

  }

  .Grandmaster {
    background-color: #FFD700;
    color: #1a1a1a;

  }

  .Nova {
    background-color: #7900FF;
    color: #1a1a1a;

  }

  .Astra {
    background-color: #FF2262;
    color: #1a1a1a;

  }

  .Celestial {
    background-color: #000000;
    color: white;
  }

  //  SCENARIO COLORS


  // 2 same classes, because when I have only one .dynamic, then my styles doesnt work xd
  .Dynamic {
    background-color: #fff1aa;
    color: #1a1a1a;

  }

  .dynamic {
    background-color: #fff1aa;
    color: #1a1a1a;

  }

  .static {
    background-color: #ea9999;
    color: #1a1a1a;

  }

  .strafe {
    background-color: #fed0fe;
    color: #1a1a1a;

  }

  .precise {
    background-color: #a2c4c9;
    color: #1a1a1a;

  }

  .reactive {
    background-color: #a4c2f4;
    color: #1a1a1a;

  }

  .speed {
    background-color: #d5a6bd;
    color: #1a1a1a;

  }

  .evasive {
    background-color: #b4a7d6;
    color: #1a1a1a;

  }

table {
    color: black;
}
